.login_wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 0;
    box-sizing: border-box;
}

.login {
    border: .0625rem solid rgb(230, 236, 241);
    padding: 1rem 3rem;
    background-color: white;
}

.login h1 {
    margin: 0 0 .5rem 0;
    font-size: 1.4rem;
}

.login_field {
    width: 100%;
    border: 1px solid #B3B3B3;
    border-radius: 3px;
    margin: .5rem 0;
    padding: .25rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.login_field input {
    border: none;
    border-left: 1px solid #B3B3B3;
    flex-grow: 1;
    margin-left: .25rem;
    padding-left: .25rem;
}

.login_field.-id::before {
    content: '👤';
    text-align: center;
    width: 1.5rem;
    filter: grayscale(100%);
}

.login_field.-password::before {
    content: '🔒';
    text-align: center;
    width: 1.5rem;
    filter: grayscale(100%);
}

.login_field.-email::before {
    content: '📧';
    text-align: center;
    width: 1.5rem;
    filter: grayscale(100%);
}

.login_submit {
    float: right;
}

.login hr {
    clear: both;
}
