{% set title = 'Connexion' %}
{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="/security/login.css">
{% endblock %}

{% block body %}
<div class="login_wrapper">

    <div class="login">

        <h1>Login</h1>

        <!-- show any messages that come back with authentication -->
        {% if message.length > 0 %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endif %}

        <!-- LOGIN FORM -->
        <form action="/login" method="post">
            <fieldset class="login_field_id">
                <input type="text" name="email" placeholder="Login">
            </fieldset>
            <fieldset class="login_field_password">
                <input type="password" name="password" placeholder="Password">
            </fieldset>

            <button type="submit" class="login_submit">Login</button>
        </form>

        <hr>

        <p>Need an account? <a href="/signup">Register</a></p>

    </div>

</div>
{% endblock %}