{% set title = 'Enregistrement' %}
{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="/security/login.css">
{% endblock %}

{% block body %}
<div class="login_wrapper">

    <div class="login">

        <h1>Register</h1>

        <!-- show any messages that come back with authentication -->
        {% if message.length > 0 %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endif %}

        <!-- REGISTER FORM -->
        <form action="/signup" method="post">
            <fieldset class="login_field_id">
                <input type="text" name="login" placeholder="Login">
            </fieldset>
            <fieldset class="login_field_email">
                <input type="text" name="email" placeholder="Email">
            </fieldset>
            <fieldset class="login_field_password">
                <input type="password" name="password" placeholder="Password">
            </fieldset>

            <button type="submit" class="login_submit">Register</button>
        </form>

        <hr>

        <p>Already register? <a href="/login">Login</a></p>

    </div>

</div>
{% endblock %}