body {
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    
    height: 100%;
    margin: 0;
}

.header {
    box-shadow: 0 .125rem .125rem 0 rgba(0,0,0,.14),0 .1875rem .0625rem -0.125rem rgba(0,0,0,.2),0 .0625rem .1875rem 0 rgba(0,0,0,.12);
    margin-bottom: .2rem;
    padding: .7rem;
}

.header_navigation {
    padding: 0;
}

.header_navigation_list {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header_navigation_list__item a {
    display: inline-block;
    padding: .7rem;
    color: #222;
    text-decoration: none;
}

.header_navigation_list__item a:hover {
    background-color: #6e8787;
    color: #fff;
}

.content {
    flex-grow: 1;
    overflow: auto;
    background-color: #f6f8fa;
}