.api_sections {
    min-width: 0;
    min-height: 0;
}

.api_sections_item {
    border-radius: 3px;
    padding: 0 0 0 24px;
}

.api_sections_item h2 {
    background-color: white;
    margin-top: 0;
    position: sticky;
    top: 0;
}

.api_container {
    display: flex;
    max-width: 100%;
    align-items: flex-start;
    position: relative;
}

.api_navigation {
    border: solid 2px black;
    border-radius: 3px;
    position: sticky;
    top: 0;
    padding: 8px;
}

.api_navigation ul {
    margin: 0;
    padding: 0 0 0 20px;
}

.api_navigation ul li {
    margin: 0;
    padding: 0;
    padding: 4px;
}