.api_sections {
    min-width: 0;
    min-height: 0;
}

.api_sections_item {
    border-radius: 3px;
    padding: 0 0 0 24px;
}

.api_sections_item h2 {
    background-color: white;
    margin-top: 0;
    position: sticky;
    top: 0;
}

.api_container {
    display: flex;
    max-width: 100%;
    align-items: flex-start;
    position: relative;
}

.api_navigation {
    border: 1px solid #eaecef;
    border-radius: 3px;
    position: sticky;
    top: 0;
    padding: 0 8px;
    max-height: 50vh;
    overflow: hidden auto;
    width: 25%;
}

.api_navigation h1 {
    margin: 0;
    padding: 0 4px .3em 4px;
    font-size: 1.5em;
}

.api_navigation ul {
    margin: 0;
    padding: 0;
}

.api_navigation ul li {
    margin: 0;
    padding: 0;
    padding: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}