.api_sections {
    min-width: 0;
    min-height: 0;
    width: 100%;
    padding-top: 2rem;
    padding-left: 1.5rem;
    background-color: white;
    min-height: 100%;
}

.api_sections_item {
    border-radius: .1875rem;
    padding: 0 0 0 1.5rem;
}

.api_sections h1, .api_sections h2  {
    margin-top: 0;
}
.api_sections h1 {
    font-size: 1.4rem;
}
.api_sections h2 {
    font-size: 1.3rem;
}
.api_sections h3 {
    font-size: 1.2rem;
}
.api_sections h4 {
    font-size: 1.1rem;
}

.api_container {
    display: flex;
    max-width: 100%;
    align-items: flex-start;
    position: relative;
    height: 100%;
    overflow: auto;
}

.api_navigation {
    padding-top: 2rem;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    background-color: rgb(245, 247, 249);
    max-width: 350px;
    width: 100%;
    position: sticky;
    top: 0;
}

.api_navigation h1 {
    margin: 0;
    padding: 0 .25rem .3rem;
    font-size: 100%;
    word-wrap: normal;
}

.api_navigation ul {
    margin: 0;
    padding: 0;
}

.api_navigation ul li {
    padding: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.api_navigation ul li [aria-current], .api_navigation ul li [aria-current]:hover {
    background-color: white;
    border: 1px solid rgb(230, 236, 241);
    border-right: none;
}

.api_navigation ul li a {
    display: block;
    padding: .5rem 1.5rem .5rem 1rem;
    color: unset;
}

.api_navigation ul li a:hover {
    background-color: rgb(230, 236, 241);
    text-decoration: none;
}